@model TestMVCApp.Models.EmployeeInfo

@{
    ViewBag.Title = "EmployeeView";
}

<h2>EmployeeView</h2>

<div>
    <h4>EmployeeInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
